body {
    font-family: Arial, sans-serif;
}

.notification {
    position: fixed;
    top: 20px;
    right: 20px;
    background-color: #4caf50;
    color: #fff;
    padding: 20px;
    /* Increase padding */
    border-radius: 10px;
    /* Adjust border radius */
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 400px;
    /* Increase width */
    font-size: 18px;
    /* Increase font size */
    transition: opacity 0.3s ease-in-out;
    opacity: 0;
    pointer-events: none;
}

.notification.show {
    opacity: 1;
    pointer-events: auto;
}

#close-btn {
    background: none;
    border: none;
    color: #fff;
    font-size: 24px;
    /* Increase font size for the close button */
    cursor: pointer;
}

#order-btn {
    display: block;
    margin: 150px auto;
    padding: 10px 40px;
    font-size: 16px;
    cursor: pointer;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    text-align: center;
    text-decoration: none;
    color: black;
}