{% extends 'base.html' %}
{% block title %}Order Notification Example{% endblock %}
{% block content %}

<div class="container my-5">
    <h1>Your Cart</h1>
    {% if cart %}
        <ul class="list-group mb-3 w-100">
            {% for item in cart %}
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    <div>
                        {{ item.restaurant }}: {{ item.name }}
                    </div>
                    <div class="d-flex align-items-center">
                        <span class="mr-3">${{ item.price }}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                        <form action="{{ url_for('basket.remove_item', item_id=item.id) }}" method="post" style="display:inline;">
                            <button type="submit" class="btn btn-danger btn-sm">Remove</button>
                        </form>
                    </div>
                </li>
            {% endfor %}
        </ul>
        <a id="clear-button" href="/{{id}}/clear_cart'" class="btn btn-danger" style="display:none;">Clear Cart</a>
    {% else %}
        <p>Your cart is empty.</p>
    {% endif %}
</div>

<a id="order-btn" href="/{{id}}/timer/wait" class="btn btn-primary">Submit Order</a>

<div id="notification" class="notification hidden">
    <span id="notification-message">You have to choose what do you want to order first!</span>
    <button id="close-btn">&times;</button>
</div>

<link rel="stylesheet" href="{{ url_for('static', filename='order.css') }}">
<script src="{{ url_for('static', filename='order.js') }}"></script>

{% endblock %}
