{% extends "base.html" %}
{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="{{url_for('static', filename='timer.css')}}">
{% endblock %}
{% block navbar %}
{% endblock %}
{% block content %}
<div id="timer-template" >
    <div class="container"> 
        <div class="timer-container" >
            Enjoy your meal!
        </div>
        <div class="burger-icon">
            🍔
        </div>

        <div class="timer-container" id="timer">
            20:00
        </div>

        <div id="extendContainer">
            <p> Less than 5 minutes remaining. Would you like to extend the timer?</p>
            <button class="btn btn-custom btn-custom-danger " id="dismissButton">No, Bye</button>
            <button class="btn btn-custom btn-custom-primary" id="extendButton">Yes + 10 min</button>
        </div>
    </div>
</div>
<script src="{{ url_for('static', filename='timer.js') }}"></script>\

{% endblock %}